HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

stripe key
sk_test_51SA9CaL2xj0u4h8h7RYQEUarcKSokcx0yBK99zegNVIFYXXlw1h5VOVjB48cZil6FKfCdVGGiC9DyaHwxQWpUpT800GYraKuDG

for stripe
 acct_1ErfC8Lq5XmwS1Kw

  - commit: ea371b231337fd87d11b6ea67033b758b64d3816
 remote:            path: .gitignore:36
 remote:          - commit: bf084157afedd2538515647bd290537ddae16aa0

.env